<template>
	<v-app id="inspire">
		<v-main class="main">
			<NuxtPage />
			<MainMenu />
		</v-main>
	</v-app>
	<ClientOnly>
		<Notification />
	</ClientOnly>
</template>

<style lang="sass" scoped>
.v-main
	width: 100vw
	overflow-x: hidden
</style>
