<template>
	<div v-if="connectionState === 'pending'">
		<v-progress-circular indeterminate color="primary"></v-progress-circular>
	</div>
	<div v-else>
		<v-app-bar v-if="room" density="compact" class="px-1">
			<v-avatar color="primary" variant="text" :image="room.avatarUrl">
				<v-icon icon="mdi-forum"></v-icon>
			</v-avatar>
			<div class="ml-4 font-weight-light">{{ room.name }}</div>
		</v-app-bar>
		<Pagination :room="room">
			<Messages :events="events" />
		</Pagination>
	</div>
	<transition name="transition-fade">
		<div
			v-if="activeMenu !== null"
			class="overlay"
			@click="activeMenu = null"
		></div>
	</transition>
	<MediaAppBar v-if="mediaIsActive" @close="mediaIsActive = false" />
	<MessageAppBar
		:emoji="emoji"
		:is-plugins-active="activeMenu == 'plugins'"
		:is-emoji-active="activeMenu == 'emojis'"
		@update:emoji="toggleMenuState('emojis')"
		@update:plugins="toggleMenuState('plugins')"
		@update:message="message = $event"
		@click="activeMenu = null"
	/>
	<transition name="slide-up">
		<MessageCalendarEvent
			v-if="activeMenu === 'Event'"
			@close="activeMenu = null"
		/>
	</transition>

	<transition name="slide-up">
		<MessagePlugins
			v-if="activeMenu == 'plugins'"
			@close="activeMenu = null"
			@update:plugin="activeMenu = $event"
		/>
	</transition>
	<transition name="slide-up">
		<MessageEmojis
			v-if="activeMenu === 'emojis'"
			:query="message"
			@close="activeMenu = null"
			@emoji="emoji = $event"
		/>
	</transition>
</template>

<script setup lang="ts">
const emoji = ref('');
const message = ref('');
definePageMeta({
	middleware: () => {
		if (useMatrix().connectionState === 'disconnect') {
			return navigateTo('/matrix/login');
		}
	},
});

const route = useRoute();
const activeMenu = ref<string | null>(null);
watch(activeMenu, () => {
	// prevent scrolling the page when a plugin popup is active
	document.documentElement.style.overflow = activeMenu.value ? 'hidden' : '';
});
const { connectionState } = storeToRefs(useMatrix());
const { room, events } = useCarbon().getRoom(route.params.id as string);
const toggleMenuState = (itemName: 'plugins' | 'emojis') =>
	activeMenu.value === itemName
		? (activeMenu.value = null)
		: (activeMenu.value = itemName);
const { isActive: mediaIsActive } = storeToRefs(useMedia());
</script>

<style lang="sass" scoped>
:deep(.mdi-plus)
	transition: .25s ease

.transition-fade-enter-active,
.transition-fade-leave-active
	transition: .5s ease

.transition-fade-enter-from,
.transition-fade-leave-to
	opacity: 0

.slide-up-enter-active,
.slide-up-leave-active
	transition: .25s ease

.slide-up-enter-from
	transform: translateY(200%)
.slide-up-enter,
.slide-up-leave-to
	transform: translateY(100%)
</style>
