<template>
	<div class="controls d-flex flex-column">
		<transition name="slide-x">
			<div v-if="isMenuActive" class="menu px-2">
				<v-btn
					v-for="mode in modes.filter(({ value }) => value !== viewMode)"
					:key="mode.value"
					:icon="mode.icon"
					size="small"
					variant="flat"
					@click="
						viewMode = mode.value;
						emit('change', mode.value);
					"
				/>
			</div>
		</transition>
		<div v-if="viewMode === 'time'" class="d-flex flex-column">
			<v-btn
				v-for="c in Object.keys(controls)"
				:key="c"
				:icon="`mdi-${c}`"
				color="primary"
				variant="tonal"
				size="small"
				class="ma-1"
			/>
		</div>
		<!-- @click="onScale(c)" -->
		<v-btn
			:icon="valueToIcon[viewMode]"
			color="primary"
			variant="tonal"
			size="small"
			class="ma-1"
			@click="isMenuActive = !isMenuActive"
		/>
	</div>
</template>

<script setup lang="ts">
const emit = defineEmits<{
	(e: 'change', state: string): void;
	(e: 'active', state: boolean): void;
}>();

const controls = { plus: 1, minus: -1 };
const isMenuActive = ref(false);
watch(isMenuActive, (active) => {
	if (active) {
		emit('active', active);
		setTimeout(() => {
			isMenuActive.value = false;
		}, 3000);
	}
});

const viewMode = ref<string>('list');
const modes = [
	{ icon: 'mdi-view-list', value: 'list' },
	{ icon: 'mdi-calendar', value: 'time' },
];
const valueToIcon: { [index: string]: string } = modes.reduce(
	(acc, { icon, value }) => ({ ...acc, [value]: icon }),
	{}
);
</script>

<style lang="sass" scoped>
.controls
	left: 0
	position: fixed
	bottom: 64px
	backdrop-filter: blur(10px)
	// box-shadow: 0px -6px 21px 4px rgb(var(--v-theme-background))

.menu
	z-index: 1
	position: absolute
	bottom: 100%
	display: flex
	align-items: center
	gap: 8px
	bottom: 0
	left: 100%
	height: 48px
	// backdrop-filter: blur(10px)

.slide-x-enter-active,
.slide-x-leave-active
	transition: .25s ease
.slide-x-enter-from,
.slide-x-leave-to
	transform: translateX(-100%)
.slide-x-enter
	transform: translateX(100%)
</style>
