<template>
	<div v-if="!visible" class="calendar-list" @click="visible = true" />
	<div v-else class="calendar-list">
		<div
			v-for="e in calendarListData"
			:key="e.id"
			:style="{ height: `${e.scrollHeight + 4}px` }"
			:mx-id="e.id"
			class="text-caption"
		>
			{{ hhmm(e.ts) }}
		</div>
	</div>
</template>
<script setup lang="ts">
const { hhmm } = useDay();
defineProps<{
	calendarListData: { id: string; ts: number; scrollHeight: number }[];
}>();
const visible = ref(false);
// Hide list timeline after a timeout
watch(visible, (isVisible) => {
	if (!isVisible) return;
	setTimeout(() => {
		visible.value = false;
	}, 30 * 1000);
});
// const removeDuplicates = (acc, event) => {
// 	if (acc) {
// 		const prev = acc[acc.length - 1];
// 		if (prev && hhmm(event.ts) === hhmm(prev.ts)) return acc;
// 		return [...acc, event];
// 	}
// };
// const filterdTimeline = ref(
// 	props.calendarListData.reduce(removeDuplicates, [])
// );
// watch(
// 	() => props.calendarListData,
// 	() => {
// 		filterdTimeline.value = props.calendarListData.reduce(removeDuplicates, []);
// 	}
// );
</script>
<style lang="sass" scoped>
.calendar-list
	width: 48px
	min-width: 48px
	position: relative
	>div
		position: sticky
		top : 64px
		color: rgba(var(--v-theme-on-background), .4)
		&:before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 55px
			border-top: 1px solid rgba(var(--v-theme-on-background), .07)
</style>
