<template>
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-avatar>X</v-avatar>
		<v-text-field
			hide-details
			label="Message"
			variant="outlined"
			prepend-inner-icon="mdi-emoticon-outline"
			append-inner-icon="mdi-plus"
			class="px-1"
			color="primary"
			:disabled="true"
			@click:append-inner.stop="emit('showPlugins')"
			@click:prepend-inner.stop="isEmojiMenuActive = !isEmojiMenuActive"
		></v-text-field>
		<v-btn icon="mdi-send" size="small" :disabled="true"></v-btn>
	</v-app-bar>
</template>

<script setup lang="ts">
const isEmojiMenuActive = ref(false);
const emit = defineEmits<{
	(e: 'showPlugins'): void;
}>();
</script>

<style lang="sass" scoped>
.avatar
	z-index: 3
	position: relative
</style>
