<template>
	<div class="menu pl-2">
		<nuxt-link v-if="connectionState !== 'connect'" to="/matrix/login">
			<v-btn icon="mdi-login" size="small" />
		</nuxt-link>
		<nuxt-link v-if="connectionState === 'connect'" to="/matrix/profile">
			<v-btn icon="mdi-account-cog" size="small"></v-btn>
		</nuxt-link>
		<nuxt-link to="/matrix/login" class="d-flex align-center">
			<v-btn icon="mdi-plus" color="secondary" variant="flat" size="small" />
			<div class="text-no-wrap text-caption ml-1">Add account</div>
		</nuxt-link>
	</div>
</template>
<script setup lang="ts">
const { connectionState } = storeToRefs(useMatrix());
</script>
<style lang="sass" scoped>
a
	text-decoration: none
.menu
	z-index: 1
	position: absolute
	bottom: 100%
	display: flex
	align-items: center
	gap: 8px
	bottom: 0
	left: 100%
	height: 64px
</style>
