<template>
	<div class="user-menu">
		<div class="hide-ugly" :class="{ active: isMainMenuActive }"></div>
		<UserAvatar
			class="avatar"
			:user="profile"
			:active="connectionState === 'connect'"
			@click="isMainMenuActive = !isMainMenuActive"
		/>
		<transition name="slide-x">
			<MainMenuAccounts v-if="isMainMenuActive" />
		</transition>
		<transition name="slide-y">
			<MainMenuSettings v-if="isMainMenuActive" />
		</transition>
	</div>
	<transition name="transition-fade">
		<div
			v-if="isMainMenuActive"
			class="overlay"
			@click="isMainMenuActive = false"
		></div>
	</transition>
</template>

<script setup lang="ts">
const { isMainMenuActive } = storeToRefs(useUi());
const { profile, connectionState } = storeToRefs(useMatrix());
</script>

<style lang="sass" scoped>
.user-menu
	position: fixed
	display: flex
	align-items: center
	bottom: 0
	left: 0
	z-index: 1005
	height: 64px
	padding-left: 4px
.overlay
	z-index: 1004
.avatar
	z-index: 4
// Hide the menus on the left and the bottom as the slide in.
.hide-ugly
	z-index: 3
	position: absolute
	background: rgb(var(--v-theme-surface))
	bottom: 0
	left: 0px
	height: 38px
	width: 45px
	transition: background-color .5s ease
	&.active
		background: rgb(var(--v-theme-background))

.transition-fade-enter-active,
.transition-fade-leave-active
	transition: .5s ease

.transition-fade-enter-from,
.transition-fade-leave-to
	opacity: 0

.slide-x-enter-active,
.slide-y-enter-active,
.slide-x-leave-active,
.slide-y-leave-active
	transition: .25s ease

.slide-x-enter-active,
.slide-y-leave-active
	transition-delay: .25s

.slide-x-enter-from,
.slide-x-leave-to
	transform: translateX(-100%)
.slide-x-enter
	transform: translateX(100%)

.slide-y-enter-from
	transform: translateY(200%)

// :deep(.slide-y-enter-active .text-caption),
// :deep(.slide-y-leave-active .text-caption)
// 	transition: .20s ease

:deep(.slide-y-enter-from .text-caption),
:deep(.slide-y-leave-to .text-caption)
	opacity: 0

.slide-y-enter,
.slide-y-leave-to
	transform: translateY(100%)
</style>
