<template>
	<div class="menu d-flex flex-column">
		<nuxt-link
			v-for="item in menuItems"
			:key="item.label"
			:to="item.to"
			@click="isMainMenuActive = false"
		>
			<v-btn :icon="item.icon" size="small"></v-btn>
			<div class="text-caption">{{ item.label }}</div>
		</nuxt-link>
	</div>
</template>
<script setup lang="ts">
const { isMainMenuActive } = storeToRefs(useUi());
const menuItems = [
	// { to: '/', icon: 'mdi-magnify', label: 'Search in Conversation' },
	{ to: '/settings', icon: 'mdi-cog', label: 'Settings' },
	{ to: '/matrix/rooms', icon: 'mdi-forum', label: 'Conversations' },
];
</script>
<style lang="sass">
.menu
	z-index: 1
	position: absolute
	bottom: 100%
	left: 4px
	gap: 8px
	a
		display: flex
		align-items: center
		text-decoration: none
.text-caption
	white-space: nowrap
	margin-left: 4px
	opacity: 1
.disabled
	opacity: .4
	pointer-events: none
</style>
