<template>
	<div class="media-app-bar d-flex justify-space-between px-2">
		<div class="d-flex justify-center align-center">
			<v-btn icon size="small" color="on-background" variant="text">
				<v-icon icon="mdi-skip-previous" size="x-large" />
			</v-btn>
			<v-btn icon size="small"><v-icon icon="mdi-play" size="x-large" /></v-btn>
			<v-btn icon size="small" color="on-background" variant="text"
				><v-icon icon="mdi-skip-next" size="x-large"
			/></v-btn>
		</div>
		<v-spacer />
		<v-btn
			icon="mdi-close"
			variant="text"
			color="on-background"
			@click="emit('close')"
		/>
	</div>
</template>

<script setup lang="ts">
const emit = defineEmits<{ (e: 'close'): void }>();
</script>

<style lang="sass" scoped>
.media-app-bar
	position: fixed
	left: 0
	bottom: 64px
	height: 48px
	width: 100vw
	background: rgba(var(--v-theme-surface),.85)
	// backdrop-filter: blur(10px)
.d-flex
	gap: 8px
</style>
