<template>
	<v-navigation-drawer v-model="drawer">
		<v-sheet color="background" class="pa-4">
			<v-avatar class="mb-4" color="primary" size="64"></v-avatar>

			<div>john@google.com</div>
		</v-sheet>

		<v-divider />

		<v-list>
			<v-list-item v-for="[icon, text] in links" :key="icon" link>
				<template #prepend>
					<v-icon>{{ icon }}</v-icon>
				</template>
				<v-list-item-title>{{ text }}</v-list-item-title>
			</v-list-item>
		</v-list>
	</v-navigation-drawer>
</template>
<script setup lang="ts">
// const cards = ref(['Today', 'Yesterday']);
const drawer = ref(null);
const links = ref([
	['mdi-inbox-arrow-down', 'Inbox'],
	['mdi-send', 'Send'],
	['mdi-delete', 'Trash'],
	['mdi-alert-octagon', 'Spam'],
]);
</script>
