<template>
	<span class="room-member d-flex align-center py-4">
		<!-- <v-avatar
			color="surface"
			variant="flat"
			:image="_avatarUrl"
			size="20px"
			class="mr-1"
			:title="targetUser"
		>
			{{ displayname?.slice(0, 2) }}
		</v-avatar> -->
		{{ displayname }}
		<v-icon v-if="membership" :icon="membershipIcon" :title="membership" />
		<div v-else>{{ membership }}</div>
	</span>
	<!-- {{ event }} -->
</template>

<script setup lang="ts">
import type { MatrixEvent } from 'matrix-js-sdk';
const props = defineProps<{ mxevent: MatrixEvent }>();
const {
	displayname,
	// avatar_url: avatarUrl,
	membership,
} = props.mxevent.getContent();
// If its an invite we want to see who is invited, otherwise who joined or left (the sender of the event)
const membershipToIcon: { [index: string]: string } = {
	invite: 'mdi-account-plus',
	join: 'mdi-login',
	leave: 'mdi-logout',
};
const membershipIcon = membershipToIcon[membership!];

// I removed the avatar for now since it's too distracting
// const _avatarUrl = avatarUrl
// 	? useMatrix().getImageUrl(avatarUrl, 20)
// 	: undefined;
// const targetUser =
// 	membership === 'invite'
// 		? props.mxevent.getStateKey()
// 		: props.mxevent.getSender();
</script>

<style lang="sass" scoped>
.room-member
	font-size: 0.7rem
.room-member,
.v-icon
	color: rgba(var(--v-theme-on-background), .4)
.v-icon
	margin-left: 4px
.v-avatar
	cursor: default
</style>
