<template>
	<div
		v-if="userProfle"
		class="message px-3 py-2 bg-surface"
		:class="[isOwnMessage ? 'ml-6' : 'mr-6']"
		:style="{ border: `1px solid rgba(${userProfle.averageRGB},.4)` }"
	>
		<div
			v-if="userProfle.averageRGB"
			class="over"
			:style="{ backgroundColor: `rgba(${userProfle.averageRGB},.05)` }"
		></div>
		<UserAvatar v-if="!isOwnMessage" active :user="userProfle" size="20px" />
		<header class="d-flex justify-space-between">
			{{ userProfle.displayName }}
			<!-- <nuxt-link :to="`matrix/u/${userProfle.userId}`"> {{ userProfle.displayName }} </nuxt-link> -->
		</header>
		<div class="overflow-hidden" v-html="$md(mxevent.getContent().body)"></div>
	</div>
</template>

<script setup lang="ts">
import type { MatrixEvent } from 'matrix-js-sdk';
const props = defineProps<{ mxevent: MatrixEvent }>();
const { getUserProfile, profile } = useMatrix();
const isOwnMessage = props.mxevent.getSender() === profile.userId;
const userProfle = getUserProfile(
	props.mxevent.getSender()!,
	props.mxevent.getRoomId()
);
if (isOwnMessage && userProfle && !userProfle.averageRGB) {
	userProfle.averageRGB = 'var(--v-theme-primary)';
}
</script>

<style lang="sass" scoped>
:deep(a)
	color: rgba(var(--v-theme-on-background),.7)
.message
	position: relative
	border-radius: 8px
.over
	pointer-events: none
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
.user-avatar
	position: absolute
	top: 32px
	left: -28px

$color: #9a9a9a
header
	color: $color
	font-size: 0.75rem
	a
		color: $color
		text-decoration: none
</style>
