<template>
	<div class="message px-3 py-2 bg-surface">
		<v-btn
			icon="mdi-code-json"
			size="x-small"
			color="surface"
			@click="showJson = !showJson"
		></v-btn>
		<div>
			{{ event.type }}
			<span v-if="event.type === 'm.room.message'">
				{{ event.mxevent.getContent().msgtype }}
			</span>
		</div>
		<pre v-if="showJson">
				{{ prettyPreview(event.mxevent) }}
		</pre
		>
	</div>
</template>

<script setup lang="ts">
defineProps<{ event: ICarbonEvent }>();
const showJson = ref(false);
const prettyPreview = (json: any) => JSON.stringify(json, null, 2);
</script>

<style lang="sass" scoped>
.message
	position: relative
	border-radius: 8px
</style>
