<template>
	<v-container class="plugins-wrapper pb-1">
		<div class="d-flex justify-space-between">
			<v-spacer />
			<v-btn
				icon="mdi-close"
				variant="text"
				color="primary"
				@click="emit('close')"
			></v-btn>
		</div>
		<div class="plugins">
			<div v-for="item in menuItems" :key="item.icon">
				<v-btn
					:icon="item.icon"
					variant="flat"
					size="small"
					@click="emit('update:plugin', item.label)"
				></v-btn>
				<div class="text-caption mt-1">{{ item.label }}</div>
			</div>
		</div>
	</v-container>
</template>

<script setup lang="ts">
const menuItems = [
	{ icon: 'mdi-file', label: 'File' },
	{ icon: 'mdi-map-marker', label: 'Location' },
	{ icon: 'mdi-image-multiple', label: 'Gallery' },
	{ icon: 'mdi-camera', label: 'Camera' },
	{ icon: 'mdi-file-gif-box', label: 'Gif' },
	{ icon: 'mdi-filmstrip', label: 'Movie' },
	{ icon: 'mdi-music', label: 'Music' },
	{ icon: 'mdi-calendar-clock', label: 'Event' },
	// { icon: 'mdi-plus', label: 'Add plugin', color: 'secondary' },
];
const emit = defineEmits<{
	(e: 'close'): void;
	(e: 'update:plugin', pluginName: string): void;
}>();
</script>

<style lang="sass" scoped>
.plugins-wrapper
	z-index: 1
	position: fixed
	left: 0
	bottom: 64px
	width: 100%
.plugins
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	> div
		display: flex
		flex-direction: column
		align-items: center
		padding: 4px
</style>
