<template>
	<v-container class="wrapper pb-1 overflow-x-auto">
		<div class="d-flex justify-space-between">
			<!-- <h1 class="text-h5">Emojis</h1> -->
			<v-spacer />
			<v-btn
				icon="mdi-close"
				variant="text"
				color="primary"
				@click="emit('close')"
			></v-btn>
		</div>
		<div v-for="category in visibleCateories" :key="category">
			<h2 class="text-h5">{{ category }}</h2>
			<div class="item-grid">
				<div
					v-for="emoji in emojisByCategory[category]"
					:key="emoji.emoji"
					class="d-flex flex-column"
				>
					<div class="text-h5" @click="onEmoji(emoji)">
						{{ emoji.emoji }}
					</div>
				</div>
			</div>
		</div>
	</v-container>
</template>

<script setup lang="ts">
// import Fuse from 'fuse.js';
const props = defineProps<{ query: string }>();
interface IEmoji {
	emoji: string;
	description: string;
	category: string;
	aliases: [string];
	tags: [string];
	unicode_version: string;
	ios_version: string;
}

const { data: categories } = await useFetch<string[]>('/emoji.categories.json');
const visibleCateories = ref<string[]>(categories.value || []);
const emojisByCategory = ref<{ [index: string]: IEmoji[] }>({});
function initializeCategories() {
	if (categories.value) {
		emojisByCategory.value = categories.value.reduce(
			(acc, c) => ({ ...acc, [c]: [] }),
			{}
		);
	}
}
const { data: emojisData } = await useFetch<IEmoji[]>('/emoji.json');
const emojis = emojisData.value || [];
// const fuse = new Fuse(emojis, { keys: ['aliases'] });
const addToCategroy = (e: IEmoji) => {
	emojisByCategory.value[e.category].push(e);
};

initializeCategories();
emojis.forEach(addToCategroy);

watch(
	() => props.query,
	() => {
		initializeCategories();
		// const emojiList = props.query ? fuse.search(props.query).map(({item}) => item) : emojis
		const emojiList = props.query
			? emojis.filter(({ aliases }) => aliases[0].includes(props.query))
			: emojis;
		emojiList.forEach(addToCategroy);
		visibleCateories.value = categories.value!.filter(
			(cat) => emojisByCategory.value[cat].length
		);
	}
);
const emit = defineEmits<{
	(e: 'close'): void;
	(e: 'emoji', emoji: string): void;
}>();
function onEmoji(emoji: IEmoji) {
	emit('emoji', emoji.emoji);
	setTimeout(() => {
		emit('emoji', '');
	}, 50);
}
</script>

<style lang="sass" scoped>
.wrapper
	z-index: 1
	position: fixed
	left: 0
	bottom: 64px
	width: 100%
	height: calc(100% - 48px - 64px)
.aliases
	max-width: 1rem
	font-size: .3rem
.item-grid
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
	> div
		display: flex
		flex-direction: column
		align-items: center
		padding: 4px
</style>
