<template>
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-avatar>X</v-avatar>
		<v-text-field
			ref="input"
			v-model="messageText"
			hide-details
			label="Message"
			variant="outlined"
			prepend-inner-icon="mdi-emoticon-outline"
			append-inner-icon="mdi-plus"
			class="px-1"
			color="primary"
			:class="{ 'plugins-active': isPluginsActive }"
			@update:model-value="emit('update:message', messageText)"
			@click:append-inner.stop="emit('update:plugins')"
			@click:prepend-inner.stop="emit('update:emoji')"
			@click="emit('click')"
		></v-text-field>
		<v-btn
			icon="mdi-send"
			size="small"
			variant="flat"
			class="mr-0"
			@click="onSend"
		></v-btn>
	</v-app-bar>
</template>

<script setup lang="ts">
const messageText = ref('');
const props = defineProps<{
	isPluginsActive: boolean;
	isEmojiActive: boolean;
	emoji: string;
}>();
const emit = defineEmits<{
	(e: 'update:plugins'): void;
	(e: 'update:emoji'): void;
	(e: 'update:message', message: string): void;
	(e: 'click'): void;
}>();
const input = ref<any>(null);
watch(
	() => props.isEmojiActive,
	(isActive) => {
		if (isActive) {
			// messageText.value += ':'
			input.value.$el.querySelector('input').focus();
		}
	}
);
watch(
	() => props.emoji,
	(newEmoji) => {
		if (newEmoji) messageText.value += newEmoji;
	}
);
async function onSend() {
	const roomId = useRoute().params.id as string;
	await useMatrix().sendMessage(roomId, messageText.value);
	messageText.value = '';
}
</script>
<style lang="sass" scoped>
.avatar
	z-index: 3
	position: relative
:deep(.plugins-active .mdi-plus)
	transform: rotate(45deg)
</style>
