<template>
	<div
		ref="$el"
		class="message my-4"
		:class="[
			!fullWidth ? (isOwnMessage ? 'ml-6' : 'mr-6') : undefined,
			{ 'full-width': fullWidth },
		]"
		@click.stop="onChangeMode"
	>
		<v-img
			class="image overflow-hidden"
			:aspect-ratio="fullWidth ? undefined : aspectRatio"
			:src="imageUrl"
			cover
			:style="{
				border: `1px solid rgba(${userProfle?.averageRGB},.2)`,
			}"
		>
			<template #placeholder>
				<div class="d-flex justify-center align-center h-100">
					<v-progress-circular
						indeterminate
						color="primary"
					></v-progress-circular>
				</div>
			</template>
		</v-img>
		<div
			v-if="!fullWidth && isTall"
			class="gradient d-flex justify-center align-end"
		>
			<v-icon icon="mdi-chevron-down" color="primary" size="large" />
		</div>
		<UserAvatar v-if="!isOwnMessage" active :user="userProfle" size="20px" />
	</div>
</template>

<script setup lang="ts">
import { useWindowSize, useResizeObserver } from '@vueuse/core';
import type { MatrixEvent } from 'matrix-js-sdk';
const props = defineProps<{ mxevent: MatrixEvent }>();
const { getUserProfile, profile, getImageUrl } = useMatrix();
const isOwnMessage = props.mxevent.getSender() === profile.userId;
const userProfle = getUserProfile(
	props.mxevent.getSender()!,
	props.mxevent.getRoomId()
);
const {
	info: { h, w },
	url,
} = props.mxevent.getContent();
const aspectRatioImage = w / h;
const isCropped = !(aspectRatioImage > 0.6 && aspectRatioImage < 1.4);
const aspectRatio = isCropped ? 16 / 9 : aspectRatioImage;
const imageUrl = getImageUrl(url);

const { width, height } = useWindowSize();
const isTall = width.value / aspectRatioImage > height.value;

const fullWidth = ref(false);
const $el = ref<HTMLElement>(null as never);
function onChangeMode() {
	fullWidth.value = !fullWidth.value;
	if (isTall) {
		const scope = effectScope();
		scope.run(() => {
			useResizeObserver(document.documentElement, () => {
				document.documentElement.scrollTop = $el.value.offsetTop - 40;
			});
		});
		setTimeout(() => {
			scope.stop();
		}, 400);
	}
}
</script>

<style lang="sass" scoped>
.message,
.image
	border-radius: 8px
:deep(.image img)
	object-position: top left
.gradient
	position: relative
	z-index: 1
	margin-top: -40px
	height: 40px
	background: linear-gradient(0deg, rgba(var(--v-theme-background),1) 0%, rgba(var(--v-theme-background),.8) 20%, rgba(var(--v-theme-background),.6) 40%, rgba(var(--v-theme-background),.4) 60%, rgba(255,255,255,0) 100%)
.message
	position: relative
	&.full-width
		border-radius: 0
		padding-right: 0
		position: relative
		margin-left: -47px
		width: calc(100vw - 4px)
		.image
			border-radius: 0
		.user-avatar
			z-index: 1
			transform: translate(20px, 20px)
.user-avatar
	position: absolute
	top: 0
	left: 0
	transform: translate(-28px, 32px)
</style>
