<template>
	<section class="d-flex align-stretch">
		<CalendarList :calendar-list-data="calendarListData" />
		<div v-if="!events.length" class="h-100 d-flex justify-center align-center">
			No messages to display
		</div>
		<div class="events d-flex flex-column">
			<div
				v-for="e in events"
				:key="e.id"
				ref="$timelineEvents"
				:mx-id="e.id"
				class="pr-2"
			>
				<div
					v-if="e.type === 'm.room.member'"
					class="inline-message-group d-flex"
				>
					<MessageRoomMember
						v-for="rm in e.events"
						:key="rm.id"
						:mxevent="rm.mxevent"
					/>
				</div>
				<div v-else-if="e.type === 'm.room.message'">
					<MessageUrlPreview
						v-if="e.urlPreviews.length"
						:url-previews="e.urlPreviews"
					/>
					<MessageText
						v-if="e.mxevent.getContent().msgtype === 'm.text'"
						:mxevent="e.mxevent"
					/>
					<MessageImage
						v-else-if="e.mxevent.getContent().msgtype === 'm.image'"
						:mxevent="e.mxevent"
					/>
					<MessageUnknown v-else :event="e" />
				</div>
				<MessageUnknown v-else :event="e" />
				<div v-if="e.reactions">
					<span v-for="reaction in e.reactions" :key="reaction">
						{{ reaction }}
					</span>
				</div>
			</div>
		</div>
		<CalendarControls />
	</section>
</template>

<script setup lang="ts">
import { useResizeObserver } from '@vueuse/core';

const props = defineProps<{ events: ICarbonEvent[] }>();

const $timelineEvents = ref<HTMLElement[] | null>(null);
const calendarListData = ref<
	{ id: string; ts: number; scrollHeight: number }[]
>([]);
// scroll back to the position that was visible before
let previousHeight = 99999;
useResizeObserver(document.documentElement, (entries) => {
	const { height } = entries[0].contentRect;
	document.documentElement.scrollTop =
		document.documentElement.scrollTop + height - previousHeight;
	previousHeight = height;
	// sync the height of each event HTMLElement with the calendar list timeline
	if (!$timelineEvents.value) return;
	calendarListData.value = [...$timelineEvents.value].map(
		({ id, scrollHeight }: HTMLElement, index: number) => {
			// console.log('props.events[index]', id, index, props.events[index]);
			return {
				ts: props.events[index].mxevent.getTs(),
				id,
				scrollHeight,
			};
		}
	);
});

onMounted(() => {
	setTimeout(() => {
		document.documentElement.scrollTop = 999999;
	}, 50);
});
provide('calendarListData', calendarListData);
</script>

<style lang="sass" scoped>
section
	position: relative
	height: 100%
.events
	gap: 4px
	width: calc(100vw - 48px)
.inline-message-group
	gap: 16px

// .timestamp
// 	font-size: .75rem
// 	position: sticky
// 	top : 64px
// 	color: rgba(var(--v-theme-on-background), .4)
// 	&:before
// 		content: ''
// 		position: absolute
// 		top: 0
// 		left: 0
// 		width: 55px
// 		border-top: 1px solid rgba(var(--v-theme-on-background), .07)
</style>
