<template>
	<v-container class="plugins-wrapper pb-4">
		<div class="d-flex justify-space-between pb-12">
			<h1>Event</h1>
			<v-spacer />
			<v-btn
				icon="mdi-close"
				variant="text"
				color="primary"
				@click="emit('close')"
			></v-btn>
		</div>
		<v-form class="items d-flex flex-column">
			<div>
				<div class="text-caption">Desciption</div>
				<div class="description pa-4">{{ description }}</div>
			</div>
			<div class="items d-flex">
				<div>
					<div class="text-caption">Date</div>
					<VueDatePicker
						v-model="date"
						:enable-time-picker="false"
						dark
						auto-apply
						format="yyyy-MM-dd"
					>
						<template #input-icon>
							<v-icon icon="mdi-calendar-month" class="ml-2"></v-icon>
						</template>
					</VueDatePicker>
				</div>
				<div>
					<div class="text-caption">Time</div>
					<VueDatePicker v-model="time" auto-apply time-picker dark>
						<template #input-icon>
							<v-icon icon="mdi-clock-time-eight-outline" class="ml-2"></v-icon>
						</template>
					</VueDatePicker>
				</div>
			</div>
		</v-form>
	</v-container>
</template>

<script setup lang="ts">
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';
const description = ref('');
const date = ref(null);
const time = ref(null);

const emit = defineEmits<{ (e: 'close'): void }>();
</script>

<style lang="sass" scoped>
.plugins-wrapper
	z-index: 1
	position: fixed
	left: 0
	bottom: 64px
	width: 100%
.items
	gap: 24px
.description
	border: 1px dashed rgba(var(--v-theme-on-background),.3)
	border-radius: 8px
	min-height: 1.5rem
:deep(.dp__input )
	--dp-background-color: transparent
	--dp-border-color: rgba(var(--v-theme-on-background),.3)
</style>
