<template>
	<section class="pb-2 pt-4" :class="{ 'mt-6': showExtenedInfo }">
		<div
			v-for="preview in urlPreviews"
			:key="preview.url"
			class="d-flex"
			:class="{
				'flex-column': showExtenedInfo,
				'align-center': !showExtenedInfo,
			}"
			@click="showExtenedInfo = !showExtenedInfo"
		>
			<v-img
				v-if="preview.imageSrc"
				:src="preview.imageSrc"
				:cover="!showExtenedInfo"
				:aspect-ratio="!showExtenedInfo ? 1 : undefined"
				class="preview-image"
				:class="{ 'not-extended': !showExtenedInfo }"
			/>
			<div class="px-3 flex-grow-1 overflow-x-hidden">
				<h2
					v-if="preview['og:title']"
					class="text-subtitle-1"
					:class="{
						'overflow-hidden text-truncate': !showExtenedInfo,
					}"
				>
					{{ preview['og:title'] }}
				</h2>
				<div v-if="showExtenedInfo">
					<div
						v-if="
							preview['og:site_name'] === 'YouTube' && preview['og:video:url']
						"
						class="media-controls d-flex py-3"
					>
						<v-btn
							icon="mdi-play"
							variant="tonal"
							size="small"
							@click.stop="
								mediaIsActive = true;
								emit('media:play', preview['og:video:url']);
							"
						/>
						<v-spacer />
						<v-btn
							icon="mdi-plus-box-multiple"
							variant="tonal"
							size="small"
							@click.stop
						/>
						<v-btn
							icon="mdi-content-copy"
							variant="tonal"
							size="small"
							@click.stop
						/>
						<v-btn icon="mdi-share" variant="tonal" size="small" @click.stop />
					</div>
					<div v-if="preview['og:description']" class="description">
						{{ preview['og:description'] }}
					</div>
					<div class="d-flex justify-space-between">
						<div class="domain">{{ preview.domain }}</div>
						<v-btn
							icon="mdi-code-json"
							size="x-small"
							color="surface"
							@click.stop="showJson = !showJson"
						></v-btn>
					</div>
				</div>
				<pre v-if="showJson"> {{ prettyPreview(preview) }} </pre>
			</div>
		</div>
	</section>
</template>
<script setup lang="ts">
defineProps<{ urlPreviews: any[] }>();
const showJson = ref(false);
const showExtenedInfo = ref(false);
const prettyPreview = (json: any) => JSON.stringify(json, null, 2);
const emit = defineEmits<{ (e: 'media:play', url: string): void }>();
const { isActive: mediaIsActive } = storeToRefs(useMedia());
</script>

<style lang="sass" scoped>
section
	cursor: pointer
.preview-image
	width: 100%
	height: 100%
	&.not-extended
		width: 40px
		height: 40px
		max-width: 40px
.media-controls
	gap: 12px
.description
	font-size: 0.8rem
	color: rgba(var(--v-theme-on-background), .8)
	// text-overflow: ellipsis
	// display: -webkit-box
	// -webkit-line-clamp: 2
	// -webkit-box-orient: vertical
	// overflow: hidden
pre
	font-size: .8rem
.domain
	font-size: 0.8rem
	margin-top: 4px
	color: rgba(var(--v-theme-on-background), .5)
</style>
