<template>
	<v-snackbar
		v-model="show"
		:color="currentMessage ? currentMessage.type : undefined"
		location="top"
		multi-line
		:timeout="900000"
		contained
		max-width="95vw"
	>
		<span v-if="currentMessage">{{ currentMessage.body }}</span>
		<template #actions>
			<v-btn
				icon="mdi-close"
				variant="text"
				color="#fff"
				@click="show = false"
			/>
		</template>
	</v-snackbar>
</template>

<script setup lang="ts">
const show = ref(false);

const { currentMessage } = storeToRefs(useMessage());
watch(currentMessage, () => {
	show.value = !!currentMessage.value;
});

const { closeMessage } = useMessage();
watch(show, () => {
	if (!show.value) closeMessage();
});
</script>

<style lang="sass" scoped>
:deep(.v-snackbar__content)
	overflow-x: hidden
	text-overflow: ellipsis
</style>
