<template>
	<div v-if="room">
		<div class="d-flex justify-center py-6">
			<v-btn
				id="paginate-button"
				:disabled="isPaginating"
				icon="mdi-chevron-double-up"
				variant="tonal"
				color="primary"
				@click="onPaginate"
			/>
		</div>
		<slot />
	</div>
</template>

<script setup lang="ts">
// import PullToRefresh from 'pulltorefreshjs';

const props = defineProps<{ room: IRoom | undefined }>();
const { paginate } = useMatrix();
const isPaginating = ref(false);
async function onPaginate() {
	if (isPaginating.value) return;
	isPaginating.value = true;
	await paginate(props.room!.roomId);
	isPaginating.value = false;
}

// const ptr = PullToRefresh.init({
// 	mainElement: 'body',
// 	// distMax: '40',
// 	onRefresh: () => {
// 		// fixme roomId only correct for first room
// 		console.log('onRefresh', room.roomId);
// 		onPaginate()
// 	},
// });
</script>

<style lang="sass">
.ptr--box
	background-color: #393939
	color: #f4f4f4
</style>
