<template>
	<h2 class="text-h6 my-6">Font size</h2>
	<section>
		<v-slider
			v-model="fontSize"
			min="14"
			max="25"
			step="1"
			show-ticks="always"
			tick-size="5"
			color="primary"
		></v-slider>
		<div :style="{ fontSize: `${fontSize}px` }">Text sample</div>
	</section>
</template>

<script setup lang="ts">
import { watchDebounced } from '@vueuse/core';
const fontSize = ref(17);

watchDebounced(
	fontSize,
	() => {
		const rules = [...document.styleSheets[0].cssRules] as CSSStyleRule[];
		const rule = rules.find((r) => r.selectorText === 'html');
		const cssText = `font-size: ${fontSize.value}px!important`;
		if (!rule) {
			document.styleSheets[0].insertRule(`html {${cssText}}`, 0);
		} else {
			rule.style.cssText = cssText;
		}
	},
	{ debounce: 500, maxWait: 1000 }
);
</script>
<style lang="sass" scoped>
section
	color: rgba(var(--v-theme-on-background), .7)!important
</style>
