<template>
	<h2 class="text-h6 my-6">Color</h2>
	<section>
		<div
			v-for="colorName in ['primary', 'secondary']"
			:key="colorName"
			class="color text-capitalize"
			@click="onSelectColor(colorName)"
		>
			<div
				:style="{ backgroundColor: `rgb(var(--v-theme-${colorName}))` }"
			></div>
			{{ colorName }}
		</div>
		<div class="d-flex justify-center align-center mb-2">
			dark
			<v-switch
				v-model="isDarkTheme"
				hide-details
				class="mx-6 flex-grow-0"
				@update:model-value="onChangeTheme"
			></v-switch>
			light
		</div>
		<div
			v-for="colorName in ['background', 'surface', 'on-background']"
			:key="colorName"
			class="color text-capitalize"
			@click="onSelectColor(colorName)"
		>
			<div
				:style="{ backgroundColor: `rgb(var(--v-theme-${colorName}))` }"
			></div>
			{{ colorName }}
		</div>
		<transition name="transition-fade">
			<div
				v-if="selectedColor"
				class="overlay"
				@click="selectedColor = null"
			></div>
		</transition>
	</section>
	<transition name="slide-up">
		<v-container v-if="selectedColor" class="color-picker bg-background">
			<div class="d-flex justify-space-between">
				<h3 class="text-h6">Select {{ selectedColor }} color</h3>
				<v-btn
					icon="mdi-close"
					variant="text"
					color="primary"
					@click="selectedColor = null"
				></v-btn>
			</div>
			<div class="d-flex justify-center">
				<v-color-picker
					v-model="colorPickerColor"
					mode="rgb"
					:modes="['rgb']"
					@update:model-value="onChangeColor"
				></v-color-picker>
			</div>
		</v-container>
	</transition>
</template>
<script setup lang="ts">
import { useTheme } from 'vuetify';
const theme = useTheme();
let selector = `.v-theme--${theme.global.name.value}`; // FIXME
const isDarkTheme = ref(theme.global.name.value === 'light');
const selectedColor = ref<string | null>(null);
interface Irgb {
	r: number;
	g: number;
	b: number;
}
const colorPickerColor = ref({} as Irgb);
const getRgbFromCssVar = (colorName: string) =>
	getComputedStyle(document.querySelector(selector)!)
		.getPropertyValue(`--v-theme-${colorName}`)
		.split(',')
		.reduce(
			(acc, value, index) => ({ ...acc, ['rgb'[index]]: parseInt(value, 10) }),
			{} as Irgb
		);
function onSelectColor(colorName: string) {
	selectedColor.value = colorName;
	colorPickerColor.value = getRgbFromCssVar(colorName);
}
function onChangeColor(value: { r: number; g: number; b: number }) {
	// const $cssElement = document.querySelector(selector);
	const { r, g, b } = value;
	const cssRule0 = document.styleSheets[0].cssRules[0] as CSSStyleRule;
	const cssText = `--v-theme-${selectedColor.value}: ${r},${g},${b}!important;`;
	if (cssRule0.selectorText !== selector)
		document.styleSheets[0].insertRule(`${selector} {${cssText}}`, 0);
	else {
		cssRule0.style.cssText = cssText;
	}
}
function onChangeTheme() {
	theme.global.name.value = isDarkTheme ? 'light' : 'dark';
	selector = `.v-theme--${theme.global.name.value}`;
}
</script>

<style lang="sass" scoped>
section
	color: rgba(var(--v-theme-on-background), .7)!important
	display: flex
	flex-direction: column
.color
	display: flex
	align-items: center
	margin-bottom: 8px
	> div:first-child
		border-radius: 100%
		min-width: 44px
		min-height: 44px
		border: 1px solid currentColor
		margin-right: 12px
.color-picker
	z-index: 1
	position: fixed
	left: 0
	bottom: 64px
	width: 100%

.transition-fade-enter-active,
.transition-fade-leave-active
	transition: .5s ease

.transition-fade-enter-from,
.transition-fade-leave-to
	opacity: 0

.slide-up-enter-active,
.slide-up-leave-active
	transition: .25s ease

.slide-up-enter-from
	transform: translateY(200%)
.slide-up-enter,
.slide-up-leave-to
	transform: translateY(100%)
</style>
