<template>
	<v-btn
		color="primary"
		class="ma-3"
		@click="showMessage({ body: `hello ${counter++}`, type: 'success' })"
		>message success</v-btn
	>
	<v-btn
		color="primary"
		class="ma-3"
		@click="showMessage({ body: `hello ${counter++}`, type: 'error' })"
		>message error</v-btn
	>
</template>
<script setup lang="ts">
const { showMessage } = useMessage();
const counter = ref(0);
</script>
