<template>
	<v-avatar
		class="user-avatar"
		:color="active ? 'secondary' : 'primary'"
		:image="user.avatarUrl"
		:size="size"
	>
		<v-icon v-if="!active" icon="mdi-account" :size="size || 'small'"></v-icon>
		<span v-else-if="user.displayName">{{ user.displayName.slice(1, 3) }}</span>
		<span v-else-if="user.userId" class="text-uppercase">
			{{ user.userId.slice(1, 3) }}
		</span>
	</v-avatar>
</template>

<script setup lang="ts">
defineProps<{ user: any; active: boolean; size?: string | undefined }>();
</script>

<style lang="sass" scoped>
.v-avatar
	cursor: pointer
</style>
