a
	color: rgb(var(--v-theme-on-background))

.overlay
	z-index: 1
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(var(--v-theme-background), .7)
	backdrop-filter: blur(10px)
