<template>
	<v-container>
		<h1 class="text-h5">Welcome to Carbon!</h1>
		<v-divider class="my-6" />
		<p>You can start below by adding an Account.</p>
		<div class="mb-3"></div>
		<p>
			Carbon is open-source. You can have a look the source code of Carbon at
			<a href="https://gitlab.com/s3lect/carbon">GitLab</a>. Contributions are
			welcome.
		</p>
		<div class="mb-6" />
		<!-- <TestMessage /> -->
		<v-spacer />
	</v-container>
	<FooterBar />
</template>
