<template>
	<v-container>
		<h1 class="text-h5">Settings</h1>
		<v-divider></v-divider>
		<SettingsColor />
		<v-divider></v-divider>
		<SettingsFont />
	</v-container>
	<v-spacer />
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-btn
			icon="mdi-close"
			color="primary"
			variant="text"
			class="ml-0"
			to="/"
		></v-btn>
		<v-text-field
			v-model="searchQuery"
			hide-details
			label="Search in setting"
			variant="outlined"
			class="px-1"
			color="primary"
			clearable
			clear-icon="mdi-close"
		></v-text-field>
		<v-btn
			:disabled="!searchQuery"
			color="primary"
			size="small"
			icon="mdi-magnify"
			variant="flat"
			class="mr-0"
		></v-btn>
	</v-app-bar>
</template>

<script setup lang="ts">
const searchQuery = ref('');
</script>
