<template>
	<v-container class="d-flex flex-column">
		<h1 class="text-h5">Matrix</h1>
		<v-divider></v-divider>
		<p>Matrix is a decentralize end to end encrypted chat protocol.</p>
		<v-spacer />
		<div>
			<add-matrix-account />
		</div>
	</v-container>
	<v-spacer />
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-btn
			icon="mdi-close"
			color="primary"
			variant="text"
			class="ml-0"
			to="/"
		></v-btn>
		<v-spacer />
	</v-app-bar>
</template>
<style lang="sass" scoped>
.v-container
	height: 100%
</style>
