<template>
	<v-container class="d-flex flex-column">
		<div class="d-flex justify-space-between">
			<h1 class="text-h5">Matrix</h1>
			<v-icon :icon="`mdi-lan-${connectionState}`"></v-icon>
		</div>
		<v-divider class="mt-6" />
		<div class="join d-flex align-center justify-center flex-column">
			<a
				href="https://joinmatrix.org/servers/"
				target="_blank"
				class="text-decoration-none"
			>
				<v-btn variant="flat" :disabled="!!baseUrl"> Join Matrix </v-btn>
			</a>
		</div>

		<div class="d-flex align-center pb-4">
			<v-divider />
			<div class="text-center px-3">or</div>
			<v-divider />
		</div>

		<div class="flex-grow-1 d-flex flex-column">
			<v-spacer></v-spacer>
			<div class="text-grey">
				{{ connectionState === 'connect' ? 'Logged' : 'Log' }} in
				<span v-if="profile.userId">as</span>
			</div>
			<div v-if="profile.userId" class="d-flex align-center py-4">
				<span class="text-subtitle-1">{{
					profile.displayName || profile.userId
				}}</span>
			</div>
			<v-form v-else-if="!profile.userId" ref="form" v-model="valid">
				<ClientOnly>
					<v-combobox
						v-model="baseUrl"
						label="Instance"
						:items="matrixServers"
						hint="Select or enter custom domain."
						:rules="[rules.isDomain]"
						variant="outlined"
						clearable
						:disabled="!!profile.userId"
					>
						<template #prepend-inner>https://</template>
					</v-combobox>
				</ClientOnly>
				<div class="pb-4"></div>
				<v-text-field
					v-model="userName"
					:rules="[rules.required]"
					label="Username"
					variant="outlined"
					:disabled="!baseUrl || !!profile.userId"
				></v-text-field>
				<div class="pb-3"></div>
				<v-text-field
					v-model="password"
					:rules="[rules.required]"
					label="Password"
					variant="outlined"
					:disabled="!baseUrl || !!profile.userId"
					:type="showPassword ? 'text' : 'password'"
					:append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
					@click:append-inner="showPassword = !showPassword"
				></v-text-field>
			</v-form>
		</div>
	</v-container>
	<v-spacer />
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-spacer />
		<v-btn
			v-if="connectionState === 'disconnect'"
			:disabled="!valid && !profile.userId"
			variant="flat"
			@click="onSubmit"
			>Log in</v-btn
		>
		<v-icon
			v-else-if="connectionState === 'pending'"
			icon="mdi-loading"
		></v-icon>
		<v-btn v-else variant="outlined" @click="stopClient">Log out</v-btn>
	</v-app-bar>
</template>

<script setup lang="ts">
import type { Ref } from 'vue';
// List from https://joinmatrix.org/servers/
// Copy and paste the table into LibreOffice Calc
// to create the list.
// FIXME use https://joinmatrix.org/servers.json
import matrixServers from '~/assets/matrix-servers.json';
const rules = useRules();
const baseUrl = ref('');
const userName = ref('');
const password = ref('');
const showPassword = ref(false);
const valid: Ref<boolean | null> = ref(null);
const form = ref(null);

const { getCredentialsWithPassword, login, stopClient } = useMatrix();
const { connectionState, profile } = storeToRefs(useMatrix());

watch(connectionState, async (newState) => {
	if (newState === 'connect') {
		await navigateTo('/matrix/rooms');
	}
});
async function onSubmit() {
	if (profile.value.userId) {
		await login();
		return;
	}
	const ccc = await getCredentialsWithPassword(
		`https://${baseUrl.value}`,
		userName.value,
		password.value
	);
	window.console.log('creds', ccc);
}
</script>
<style lang="sass" scoped>
.join
	height: 45%
.v-container
	height: 100%
.text-grey
	color: rgba(var(--v-theme-on-background), .6)
</style>
