<template>
	<v-container>
		<div class="d-flex flex-column align-center mb-12">
			<v-avatar
				:image="profile.avatarUrl || undefined"
				size="200px"
				color="surface"
			>
				<div v-if="!profile.avatarUrl">
					<v-icon icon="mdi-camera" size="large"></v-icon>
					<div class="text-caption">add image</div>
				</div>
			</v-avatar>
			<div class="text-h3 mt-6">
				{{ profile.displayName }}
			</div>
		</div>
		<div>
			{{ profile.userId }}
		</div>
	</v-container>
	<v-app-bar location="bottom" class="px-1 overflow-visible"> </v-app-bar>
</template>

<script setup lang="ts">
definePageMeta({
	middleware: async () => {
		const { connectionState, login } = useMatrix();
		if (connectionState !== 'connect') {
			await login();
		}
	},
});
const { profile } = storeToRefs(useMatrix());
</script>
