<template>
	<v-container>
		<h1 class="text-h5">Conversations</h1>
	</v-container>
	<v-spacer />
	<v-list>
		<v-list-item
			v-for="room in filteredRooms"
			:key="room.roomId"
			class="li pr-0"
			@click="onEnterRoom(room)"
		>
			<template #prepend>
				<v-badge
					v-if="room.numMembers > 2"
					:content="room.numMembers"
					class="pr-4"
				>
					<v-avatar color="background" :image="room.avatarUrl">
						<v-icon
							:icon="
								getGroupIcon(room.numMembers, room.mxroom.getMyMembership())
							"
						></v-icon>
					</v-avatar>
				</v-badge>
				<v-avatar v-else color="background">
					<v-icon
						:icon="getGroupIcon(room.numMembers, room.mxroom.getMyMembership())"
					></v-icon>
				</v-avatar>
			</template>
			<v-list-item-title class="pl-4">{{ room.name }}</v-list-item-title>
			<template #append>
				<v-btn icon="mdi-menu-right" variant="text" color="background" />
			</template>
		</v-list-item>
	</v-list>
	<v-app-bar location="bottom" class="px-1 overflow-visible">
		<v-btn icon="mdi-close" size="small" class="ml-0" to="/"></v-btn>
		<v-text-field
			v-model="searchQuery"
			hide-details
			label="Find conversation"
			variant="outlined"
			class="px-1"
			color="primary"
			clearable
			clear-icon="mdi-close"
			append-inner-icon="mdi-magnify"
			@click="menuActive = false"
		></v-text-field>
		<transition name="slide-bt">
			<div
				v-if="menuActive"
				class="menu d-flex flex-column"
				@click="menuActive = false"
			>
				<div v-for="item in menuItems" :key="item.label" @click.stop="">
					<div class="text-caption">{{ item.label }}</div>
					<v-btn :icon="item.icon" size="small" variant="flat"></v-btn>
				</div>
			</div>
		</transition>
		<div class="hide-ugly"></div>
		<v-btn
			color="primary"
			size="small"
			icon="mdi-menu"
			variant="flat"
			class="menu-btn ml-1 mr-0"
			@click="menuActive = !menuActive"
		></v-btn>
	</v-app-bar>
	<transition name="transition-fade">
		<div v-if="menuActive" class="overlay" @click="menuActive = false"></div>
	</transition>
</template>

<script setup lang="ts">
import Fuse from 'fuse.js';
definePageMeta({
	middleware: () => {
		const { loadRooms, connectionState } = useMatrix();
		if (connectionState === 'disconnect') {
			return navigateTo('/matrix/login');
		}
		return loadRooms();
	},
});
const menuItems = [
	{ icon: 'mdi-account-plus', label: 'Add friend' },
	{ icon: 'mdi-forum-plus', label: 'Add group' },
	{ icon: 'mdi-view-dashboard', label: 'Select layout' },
	{ icon: 'mdi-sort-variant', label: 'Sort by' },
];
const menuActive = ref(false);
const searchQuery = ref('');
const { rooms } = storeToRefs(useMatrix());

const fuse = new Fuse(rooms.value, { keys: ['name'] });
const filteredRooms = computed(() => {
	if (!searchQuery.value) return rooms.value;
	const result = fuse.search(searchQuery.value).map(({ item }) => item);
	result.reverse();
	window.scrollTo(0, document.body.scrollHeight);
	return result;
});

function getGroupIcon(numMembers: number, membershipState: string) {
	let icon = 'mdi-account-group';
	if (numMembers <= 1) icon = 'mdi-account';
	else if (numMembers === 2) icon = 'mdi-account-multiple';
	if (membershipState === 'invite') icon += '-plus';
	return icon;
}
async function onEnterRoom(room: IRoom) {
	const path = `/matrix/roomid/${room.roomId}`;
	if (room.mxroom.getMyMembership() !== 'invite') return navigateTo(path);
	const { joinRoom } = useMatrix();
	await joinRoom(room.roomId);
	return navigateTo(path);
}
</script>
<style lang="sass" scoped>
.li
	border-bottom: 1px solid rgb(var(--v-theme-background))
.menu-btn
	z-index: 2
.menu
	position: absolute
	align-items: flex-end
	bottom: 100%
	right: 0
	gap: 8px
	> div
		display: flex
		gap: 8px
		align-items: center
.hide-ugly
	z-index: 1
	position: absolute
	background: rgb(var(--v-theme-surface))
	bottom: 0
	right: 0
	height: 38px
	width: 45px

.slide-bt-enter-active,
.slide-bt-leave-active
	transition: .25s ease

.slide-bt-leave-active
	transition-delay: .25s

.slide-bt-enter-from
	transform: translateY(200%)
.slide-bt-enter,
.slide-bt-leave-to
	transform: translateY(100%)

:deep(.slide-bt-enter-from .text-caption),
:deep(.slide-bt-leave-to .text-caption)
	opacity: 0

.transition-fade-enter-active,
.transition-fade-leave-active
	transition: .5s ease

.transition-fade-enter-from,
.transition-fade-leave-to
	opacity: 0
</style>
